#day-happiness-prompt {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#day-happiness-prompt .header {
  font-size: 2em;
  padding: 0.25em 0;
  border-bottom: thin solid lightgrey;
  color: darkgrey;
  font-weight: bold;
}

#day-happiness-prompt .main {
  align-items: center;
  max-height: 800px;
}

#day-happiness-prompt .main .shift-day-button {
  min-width: 5em;
  margin: 0 1em;
}

#day-happiness-prompt .main .shift-day-button:hover {
  background-color: lightgrey;
  border-radius: 10%;
}

#day-happiness-prompt .main .flex-row-main {
  height: 100%;
}

#day-happiness-prompt .main .flex-row-main .flex-column-main {
  justify-content: center;
}

.mood-controls {
  padding: 1.5em 0;
}

.mood-controls .mood-selection {
  justify-content: space-around;
  align-items: center;
}

.mood-controls .mood-selection .choice {
  max-width: 5em;
  max-height: 5em;
  margin: 1% 0;
  border: solid lightblue;
  border-radius: 10%;
}

.mood-controls .mood-selection .choice:hover {
  background-color: lightblue;
  border-color: darkgrey;
}

.mood-controls .mood-selection .choice.selected {
  background-color: lightblue;
  border-color: grey;
}

.mood-controls .slider-track {
  height: 100%;
  width: 0.5em;
  margin-left: 3em;
  background-color: darkgrey;
  border-radius: 0.5em;
}

.mood-controls .slider-thumb {
  height: 3em;
  width: 3em;
  background-color: lightblue;
  border: thin solid darkgrey;
  border-radius: 30%;
}

.mood-controls .slider-thumb:focus {
  outline: none;
}

.mood-controls .slider-thumb .slider-thumb-label {
  position: absolute;
  top: 30%;
  width: 100%;
  font-weight: bold;
  color: black;
}
