.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-align: center;
}

/* .App nav {
  display: flow;
  position: fixed;
  padding: 1em 0;
}

.nav-item {
  display: block;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
} */

.App nav {
  display: flex;
  padding: 1em 1em;
  border-bottom: thin solid lightgrey;
}

.nav-item {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}

.nav-item:hover, .nav-item.active {
  background-color: lightblue;
  border-radius: 10%;
}

.nav-item:hover img {
  filter: invert(42%);
}

.App #main-content {
  flex: 1;
  overflow: scroll;
}

.App #footer {
  background-color: royalblue;
}
